@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import '_variables';

* {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;

    margin: 0;
    padding: 0;
}

body {
    background-color: $green20;
}