@import '_variables';

.page-content{
    margin: 0 10vw;
    padding: 2%;

    min-height: 83vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba($gray20, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.background-img {
    position: absolute;

    &.first {
        max-width: 300px;

        top: 2vh;
        left: 0vw;
    }

    &.second {
        max-width: 150px;

        top: 20vh;
        left: 60vw;
    }
    &.third {
        max-width: 300px;

        top: 40vh;
        left:75vw;
    }
    &.fourth {
        max-width: 150px;

        top: 75vh;
        left: 20vw;
    }
}