@import '_variables';

.app {
    background: rgba($gray30, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.btn {
    &.gray {
    }
    &.red {
    }
    &.green {
    }
    &.blue {
    }
    &.yellow {
    }
}

.txt {
    &-title{
        font-weight: 600;
    }
    &-desc{
        font-weight: 400;

    }
}
