.carousel {
    display: flex;

    max-width: fit-content;
    max-height: fit-content;
    &-element {
        margin: 0px 2px;
        border: 6px solid #64b5f6;
        border-radius: 10px;

        background-color: #bbdefb;

        &-title {
            font-size: 25px;
            text-align: center;
            font-weight: 600;

            color: #343a40;
        }

        &-image {
            max-width: 20vw;
            max-height: 20vh;
        }
    }
}