.carousel {
    display: flex;

    max-width: fit-content;
    max-height: fit-content;
    &-element {
        border: 1px solid black;

        margin: 2px;

        &-title {
            font-size: 20px;
            text-align: center;
        }

        &-image {
            max-width: 20vw;
            max-height: 20vh;
        }
    }
}