@import '_variables';

.carousel {
    display: flex;

    max-width: fit-content;
    max-height: fit-content;
    &-element {
        margin: 0px 5px;
        padding: 5px;

        width: 150px;
        height: 250px;

        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background: rgba($blue40, 0.7);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);

        &-title {
            font-size: 25px;
            text-align: center;
            font-weight: 600;
        }

        &-image {
            max-width: 100px;
            max-height: 100px;
        }
    }
}

.next-button{
    height: 30px;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    &-image{
        height: 20px;
        width: 20px;
    }
}

.carousel-element.fadeOut {
    animation: fadeOutAnimation 1s ease-in-out forwards;
  }
  
  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }