//main section

@import "_variables";

.app {
  width: 360px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(45deg, rgba($blue60, 0.3), rgba($blue40, 0.2));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);

  border-radius: 10px;

  padding: 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.top {
    text-align: center;
  }

  &.bot {
    a{
      color: $blue140;
      text-decoration: none;

      &:hover {
        color: $blue160;
        text-decoration: underline;
      }
    }
  }
}

.txt-title {
  background: linear-gradient(to right, $green130, $green90);
  background-clip: text;
  -webkit-text-fill-color: transparent;

}