@import "_variables";

.question {
    &-top {
        display: flex;

        width: 50vw;
        height: 5vh;
        &-wrapper {
            height: 100%;
            &-image {
                height: 100%;
                width: 100%;
            }
        }
        &-text {
            font-size: 20px;
        }
    }
    &-bot {
        &-text {
            margin: 10px;

            font-size: 17px;
        }
    }
}
