@import "_variables";

.question {
    margin: 10px;

    width: 50vw;
    
    background: rgba($orange30, 0.5);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    overflow: hidden;

    border-radius: 10px;
    &-top {
        background: rgba($orange40, 0.5);
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);

        border-radius: 10px;

        display: flex;

        padding: 5px;

        
        height: 5vh;
        &-wrapper {
            height: 100%;
            &-image {
                height: 100%;
                width: 100%;

                cursor: pointer;

                &.rollout {
                    transition: 0.3s;

                    transform: rotate(90deg);
                }

                &.rollin {
                    transition: 0.3s;

                    transform: rotate(0deg);
                }
            }
        }
        &-text {
            font-size: 20px;
        }
    }
    &-bot {
        
        &.rollout{
            max-height: 200px;
            transition: max-height 0.5s linear;
        }
        &.rollin{
            max-height: 0px;
            transition: max-height 0.5s linear;
        }
        &-wrapper-text {
            margin: 10px;

            font-size: 17px;
            word-wrap: break-word;
        }
    }
}

